<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<div class"container">
  <div class="row justify-content-center">

    <div class="col-2">
    <%= form_tag root_path, method:"get", class:"form-inline" do%>
    <%= text_field_tag :search, params[:search], class:"form-control", placeholder:"Search by Title" %>
    </div>

  <div class="col-2">
    <!-- <label>Filter: </label> -->
    <div class="btn-group btn-group-toggle" data-toggle="buttons">

      <label for="filter" class="btn btn-secondary">Popularity
        <%= radio_button_tag :filter, 'pop'%>
      </label>

      <label for="filter" class="btn btn-secondary">Date
        <%= radio_button_tag :filter, 'date'%>
      </label>


      <label for="filter" class="btn btn-secondary">ABC
        <%= radio_button_tag :filter, 'abc'%>
      </label>
    </div>

  </div>

  <div class="col-2">

    <!-- <label>Order: </label> -->
    <div class="btn-group btn-group-toggle" data-toggle="buttons">

      <label for="order" class="btn btn-secondary">ASC
        <%= radio_button_tag :order, 'asc'%>
      </label>

      <label for="order" class="btn btn-secondary">DESC
        <%= radio_button_tag :order, 'desc'%>
      </label>
    </div>
  </div>
    <div class="col-1">
    <%= submit_tag 'Search', name: nil, class:"btn btn-secondary" %>
  </div>
    <% end %>
  </div>
  </div>
</div>
<hr>
<br>
<div class="container">
<div class="row">

  <% @current_posts.each do |post| %>
  <div class="col-4">
    <div class="thumb-post" data-toggle="tooltip" data-placement="bottom" title="<%= post.title %>   ♥ <%= post.vote_count %>">
      <%= link_to(image_tag(post.image.url, class:"img-thumbnail bg-light"), post) %>
    </div>
  </div>
  <% end %>

</div>
</div>
<div class="container">
  <div class="row justify-content-center">
<% if @previous_page %>
<%= link_to "Previous Page", root_path(query: "#{@previous_page}"), class:"btn btn-secondary", role:"button" %>
<% end %>
<% if @next_page %>
<%= link_to "Next Page", root_path(query: "#{@next_page}"), class:"btn btn-secondary ml-1", role:"button" %>
<% end %>
</div>
</div>
